<body style="margin-left: 40px; background-color: black">
<h1 style="color:white; font-family:courier; ">yo! it's a rails server!</h1>
<p><p>
<h2 style="color:white; font-family:courier; ">You searched for: <br>
show_search()
<p><p>
</body>
