body {
    margin-left: 40px; 
    background-color: black
}
label {
    display: inline-block;
    float: left;
    width: 150px;
    color: orange;
}
input {
    margin-bottom: 5px;
}

h1, h2 {
    color:green; 
    font-family:courier;
}

h3 {
    color:yellow; 
    font-family:courier;
}