<body style="margin-left: 40px; background-color: black">
<h1 style="color:green; font-family:courier; ">yo! it's a rails server!</h1>
<p><p>
<h2 style="color:green; font-family:courier;">
<h2>Your annotation has been submitted.</h2>
<p>
<b>Would you like to <a href="/">return to the main page?</a></b>
</body>
