// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

text_field{
  width: 4em;
  float: left;
  text-align: right;
  margin-right: 0.5em;
  display: block
}
